.Buscar{
    position: absolute;
    top: 330px;
    left: 650px;


    z-index: 2;
}


.letras{
    font-family: "arial", sans-serif;
    background: rgb(219, 219, 0);
    width: 600px;
    height: 100px;
    color:white;

    position: absolute;
    top: 300px;
    right: 0px;
    left: 0px;

    margin: auto;

    border-radius: 10px;

    z-index: 1;

}

.botao{
    position:absolute;
    top:330px;
    right:590px;

    z-index: 2;
}

div#buscar{
    background:rgb(219, 219, 0);
    color:white;
    height: 50px;
    width:50px;

    text-align: center;

    border-radius: 10px;

    position: absolute;
    top: 310px;
    right:590px;

    cursor:default;
   z-index: 3;
}